<?xml version="1.0"?>
<config>
    <type name="Magento\Checkout\Model\Cart">
      <plugin name="afterAddProduct" type="Dhananjay\PluginModule\Plugin\Cart" sortOrder="1" disabled="false"/>
    </type>
    <type name="Magento\Catalog\Model\Product">
      <plugin name="afterGetName" type="Dhananjay\PluginModule\Plugin\Product" sortOrder="1" disabled="false"/>
      <!-- <plugin name="afterGetPrice" type="Dhananjay\PluginModule\Plugin\Product" sortOrder="2" disabled="false"/> -->
    </type>
</config>